html{

}
.container{
    
}

.container::after{
    content: '';
    display: table;
    clear: both;
}

.container .logo{
    float: left;
    padding: 30px;    
}
 .container nav{
     float: right;
     
     
}

.container nav ul{
    list-style: none;
}

.container nav ul li{
    display: inline-block;
    padding: 30px;
}

.container nav ul li a{
    text-decoration: none;
}

.heropg{
    
    text-align: center;
    padding: 130px;
}

.heropg h1{

    padding: 40px;
}

.heropg p{
    line-height: 30px;
    padding: 20px;
}

.heropg button{
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(201, 86, 45);
    color: white;
}

.us .imagez{
   
    display: flex;
    justify-content: space-between;
    float: left;
 
   
    
    
}

.us .imagez .plates{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px ;
    
}

.us .about{
   
    float: right;
    font-size: 30px;
    
    line-height: 45px;
    padding: 50px;
}
.us .about h1{
    
    padding: 30px;
    text-align: center;
}

.us .about button{
    padding: 15px 35px;
    border-radius: 20px;
    border: none;
    background-color: rgb(201, 86, 45);
    color: white;
    
}
.us{
    margin: 50px;
}
.us hr{
    width: 140px;
    height: 1px;
    background-color: rgb(201, 86, 45);
}
.us::after{
    content: '';
    display: table;
    clear: both;
}